.parentContainer {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.childContainer {
    border:groove; 
    padding: 30px;
}

.footer {
    background-color: gainsboro;
    border: groove;
    width: 100%;
}

.inner_1 {
    display: inline-block;
    width: 100%;
}

.inner_2 {
    display: inline-block;
    width: 90%;
}

.inner_3 {
    display: inline-block;
    margin-top: 30px;
    font-style: italic;
}

.image {
    width: 100px; 
    height: auto;
}