.parentContainer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: lightskyblue;
}

.childContainer {
    border:groove; 
    padding: 30px;
    background-color: ghostwhite;
}

.footer {
    background-color: gainsboro;
    border: groove;
    width: 100%;
}

.inner_1 {
    display: inline-block;
    width: 100%;
}

.inner_2 {
    display: inline-block;
    width: 90%;
}

.inner_3 {
    display: inline-block;
    margin-top: 30px;
    font-style: italic;
}

.image {
    width: 100px; 
    height: auto;
}

.table {
    display: inline-flex;
    width: 100%;
}

.table-tr {
    width: 70%;
}

.photo {
    width: 280px;
    height: auto;
}